.contentWrapper {
  padding: 20px 24px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1020px) {
  .contentWrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: unset;
  }
}

@media (max-width: 450px) {
  .contentWrapper {
    padding: unset;
  }
}
