.root {
  width: 100%;
  max-width: 640px;
  min-width: 355px;
  padding-bottom: 50px;
}

.loadingPostsSpinner {
  display: block;
  margin: auto;
  font-size: 50px;
  color: var(--color-main);
  animation: var(--spinner-animation);
}

.noMorePosts {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-utility-two);
}

@media (max-width: 450px) {
  .noMorePosts {
    margin-bottom: 10px;
  }
}
