.lightTheme {
  /* wont change */
  --color-main: #ff4500;
  --color-overlay: #00000066;
  --color-upvote: #ff4500;
  --color-downvote: #7193ff;
  --color-button-auth: #d93a00;
  --color-button-auth-hover: #d93a00e8;
  --color-error-one: #fb133a;
  --color-valid-one: #24a0ed;

  --spinner-animation: spin 1s linear infinite;
  --skeleton-animation: skeleton-pulse 1s ease-in-out infinite alternate;

  /* will change */
  --color-background-one: #ffffff;
  --color-background-post: #ffffffcc;
  --canvas: #dae0e6;
  --color-font-one: #1a1a1b;
  --color-font-one-faded: #1a1a1b1a;
  --color-button-one: #0076d1;
  --color-button-one-hover: #0076d1eb;
  --color-button-one-active: #0076d1c2;
  --color-button-one-alt-hover: #0076d10a;
  --color-button-one-alt-active: #0076d129;
  --color-link-one: #0079d3;
  --color-border-one: #edeff1;
  --color-input-one: #f6f7f8;
  --color-input-border-one: #00000033;
  --color-label-one: #737577;
  --color-utility-one: #878a8c;
  --color-utility-two: #787c7e;
  --color-loading-skeleton-initial: #f1f1f1;
  --color-loading-skeleton-final: #e0e0e0;
}

.root {
  min-height: 100vh;
  background-color: var(--canvas);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes skeleton-pulse {
  0% {
    background-color: var(--color-loading-skeleton-initial);
  }
  50% {
    background-color: var(--color-loading-skeleton-final);
  }
  100% {
    background-color: var(--color-loading-skeleton-initial);
  }
}
