@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p,
a,
div {
  font-size: 14px;
  white-space: pre-line;
}

a {
  text-decoration: none;
}

button {
  font-size: 14px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

button svg {
  font-size: 20px;
}

input,
label {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
}
