@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Sans&display=swap");

:root {
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p,
a {
  font-size: 14px;
}

button {
  font-size: 14px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
}
