@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  text-size-adjust: 100%;

  /* these colors do not change when toggling the theme */
  --color-main: #ff4500;
  --color-overlay: #00000066;
  --color-upvote: #ff4500;
  --color-downvote: #7193ff;
  --color-button-auth: #d93a00;
  --color-button-auth-hover: #d93a00e8;
  --color-valid-one: #24a0ed;

  --spinner-animation: spin 1s linear infinite;
  --skeleton-animation: skeleton-pulse 1s ease-in-out infinite alternate;
  --announce-animation: announce 300ms ease;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--canvas);
  padding-top: 49px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  color: var(--color-font-one);
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p,
a,
div {
  font-size: 14px;
  white-space: pre-line;
}

a {
  text-decoration: none;
}

button {
  font-size: 14px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

button svg {
  font-size: 20px;
}

input,
textarea,
label {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  color: var(--color-font-one);
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes skeleton-pulse {
  0% {
    background-color: var(--color-loading-skeleton-initial);
  }
  50% {
    background-color: var(--color-loading-skeleton-final);
  }
  100% {
    background-color: var(--color-loading-skeleton-initial);
  }
}

@keyframes announce {
  from {
    transform: translateY(15px) scale(0.5);
  }

  to {
    transform: translateY(0) scale(1);
  }
}
