.root {
  display: flex;
  gap: 8px;
  border: 1px solid var(--color-border-one);
  background-color: var(--color-background-one);
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 10px 12px;
}

.sortBtn {
  align-items: unset;
  gap: 8px;
  border: 1px solid transparent;
  padding: 6px 8px;
  border-radius: 3rem;
  color: var(--color-utility-one);
  background-color: transparent;
}
.sortBtn:hover {
  background-color: var(--color-font-one-faded);
}

.sortBtn svg {
  font-size: 20px;
}

.activeSort {
  background: var(--color-input-one);
  color: var(--color-link-one);
  cursor: default;
}

.activeSort svg {
  fill: var(--color-link-one);
}

@media (max-width: 450px) {
  .root {
    border: none;
    border-radius: unset;
  }
}
