.btnVariantOne {
  background-color: var(--color-button-one);
  color: var(--color-background-one);
  width: 120px;
  min-height: 32px;
  border-radius: 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnVariantOne:hover {
  background-color: var(--color-button-one-hover);
}
.btnVariantOne:active {
  background-color: var(--color-button-one-active);
}

.btnVariantTwo {
  border: 1px solid var(--color-button-one);
  color: var(--color-button-one);
  background-color: transparent;
  width: 120px;
  min-height: 32px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnVariantTwo:hover {
  background-color: var(--color-button-one-alt-hover);
}
.btnVariantTwo:active {
  background-color: var(--color-button-one-alt-active);
}

.toggleBtn {
  background-color: var(--color-font-one-faded);
  border-width: 2.25px;
  height: 24px;
  width: 37.5px;
  border: 2px solid transparent;
  border-radius: 3rem;
  transition: all 150ms ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.toggleBtn > div {
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #0000001a, 0 2px 3px 0 #00000033;
  border-radius: 3rem;
  height: 19.5px;
  width: 19.5px;
}
.toggleBtnActive {
  background-color: var(--color-link-one);
  justify-content: flex-end;
}

.cameraBtn {
  box-sizing: border-box;
  background-color: var(--color-background-one);
  border: 1px solid var(--color-link-one);
  border-radius: 50%;
  bottom: 8px;
  height: 36px;
  right: 8px;
  width: 36px;
  position: absolute;
  color: var(--color-link-one);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}
.cameraBtn input {
  display: none;
}
