.root {
  background-color: var(--color-background-one);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border-one);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 2;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 400px;
}

.logoContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content;
}

.logo {
  height: 32px;
  width: 32px;
  padding: 8px 0;
}

.logoText {
  height: 18px;
}
.logoText g {
  fill: var(--color-font-one);
}

.themeBtn {
  font-size: 20px;
  padding: 5px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--color-utility-one);
}
.themeBtn:hover {
  background-color: var(--color-font-one-faded);
  border-color: var(--color-border-one);
}

.authBtns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userInteractionBtns {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: var(--color-font-one);
  position: relative;
}
.userInteractionBtns:hover,
.userInteractionBtns:focus {
  background-color: var(--color-font-one-faded);
}

@media (max-width: 1200px) {
  .rightSide {
    width: 322px;
  }

  .logoText {
    display: none;
  }
}

@media (max-width: 1080px) {
  .rightSide,
  .leftSide {
    width: 170px;
  }

  .authBtns > button:first-child {
    display: none;
  }
}

@media (max-width: 650px) {
  .leftSide {
    gap: 1rem;
    width: unset;
  }

  .rightSide {
    width: unset;
  }

  .authBtns {
    gap: 1rem;
  }

  .authBtns > button:nth-child(2) {
    width: 90px;
  }
}

@media (max-width: 420px) {
  .leftSide {
    gap: unset;
  }
}
