.root {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border-one);
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 400px;
}

.logoContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content;
}

.logo {
  height: 32px;
  width: 32px;
  padding: 8px 0;
}

.logoText {
  height: 18px;
}

.navBtn {
  width: 270px;
  height: 36px;
  font-weight: normal;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
}
.navBtn:hover {
  border-color: var(--color-border-one);
}

.currentLocationImg {
  color: var(--color-font-one);
  padding: 0 0.5rem;
  font-size: 20px;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  width: 20px;
}

.currentLocationInfo {
  text-align: start;
  flex-grow: 1;
}

.caretDown {
  font-size: 20px;
  padding: 0 0.5rem;
  color: var(--color-utility-one);
}

.searchBarContainer {
  flex-grow: 1;
  margin: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  background-color: var(--color-input-one);
  border: 1px solid var(--color-border-one);
  border-radius: 2rem;
  height: 40px;
  max-width: 690px;
  max-width: 360px;
  overflow: hidden;
}
.searchBarContainer:hover,
.searchBarContainer:focus-within {
  border-color: var(--color-button-one);
  background-color: var(--color-background-one);
}

.searchBarForm {
  width: 100%;
  display: flex;
}

.searchBarLabel {
  margin-right: 9px;
  display: block;
}

.searchBarIcon {
  font-size: 20px;
  display: block;
  color: var(--color-utility-one);
}

.searchBarInput {
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  border: none;
  overflow: hidden;
}
.searchBarInput::-webkit-search-cancel-button {
  display: none;
}

.themeBtn {
  font-size: 20px;
  padding: 5px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--color-font-one);
}
.themeBtn:hover {
  border-color: var(--color-border-one);
}

.authBtns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userInteractionBtns {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: var(--color-font-one);
}
.userInteractionBtns:hover,
.userInteractionBtns:focus {
  background-color: var(--color-font-one-faded);
}

@media (max-width: 1080px) {
  .rightSide {
    width: unset;
  }

  .logoText {
    display: none;
  }

  .currentLocationInfo {
    display: none;
  }

  .navBtn {
    width: unset;
  }
}

@media (max-width: 650px) {
  .searchBarContainer {
    margin: 0 1rem;
  }

  .caretDown {
    display: none;
  }

  .leftSide {
    gap: 1rem;
  }

  .authBtns button:first-child {
    display: none;
  }
}

@media (max-width: 420px) {
  .searchBarContainer {
    padding: 0 0.5rem;
  }

  .searchBarLabel {
    margin-right: 0.5rem;
  }

  .navBtn {
    display: none;
  }
}
