.commentContainer {
  margin: 16px 16px 0 10px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.noCommentsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 340px;
}
.noCommentsContainer svg {
  fill: var(--color-link-one);
  opacity: 0.45;
  height: 28px;
  width: 28px;
  margin-bottom: 8px;
}

.noCommentsContainer p {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-utility-two);
  opacity: 0.6;
  font-family: "IBM Plex Sans", sans-serif;
}

.noCommentsContainer p:last-child {
  font-size: 14px;
}

.addCommentBtn {
  width: auto;
  padding: 0 2rem;
  gap: 8px;
  margin: 24px 40px 24px 48px;
}
